{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Microgreens{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>
<body class="font-sans">

<nav class="bg-white shadow-sm sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex items-center justify-between">
    <a href="/" class="text-xl font-semibold text-green-700 hover:text-green-600">
      Microgreens
    </a>

    <div class="flex gap-6 text-gray-700 font-medium">
      <a href="#what-are-microgreens" class="hover:text-green-600">Que Son Microgreens</a>
      <a href="#about-us" class="hover:text-green-600">About Us</a>
      <a href="#offer" class="hover:text-green-600">Que Ofrecemos</a>
      <a href="{% url 'product_list' %}" class="hover:text-green-600">Cátalogo</a>
    </div>
  </div>
</nav>


<hr>

{% block content %}{% endblock %}

</body>
</html>
